.first{
    border-radius: 23px;
    color: black;
    border-color: rgba(155, 71, 41, 0.836);
    font-family: cursive;
    outline-color: rgb(96, 247, 247);
    position:absolute;
    margin: 35% 10%;
}
body{
    padding: 10% 40% 10% 40%;
    background-color: rgb(76, 122, 122);

}

.second{

    border-radius: 23px;
    color: black;
    border-color: rgba(155, 71, 41, 0.836);
    font-family: cursive;
    outline-color: rgb(96, 247, 247);
    position:absolute;
    margin: 55% 10%;
    
}
.button{
    background-color: bisque;
    color: rgba(17, 17, 221, 0.616);
    margin: 75% 39%;
    position: absolute;
    border: 1% rgba(155, 71, 41, 0.836);
    border-radius: 20px;
    font-family: cursive;
}
.container{
    height: 250px;
    width: 250px;
    background-color: rgb(96, 247, 247);
    position:absolute;
    border-radius: 10.6%;
    
}
h1{
    color: rgba(17, 17, 221, 0.616);
    position: absolute;
    left: 34%;
    font-family: cursive;
}