.first{
    border: coral;
    border-radius: 23px;
    color: black;
    border-color: rgb(3, 10, 17);
    padding: auto;
    font-family: cursive;
    outline-color: aqua;
    position:absolute;

    left: 9%;
    top: 35%;
}
body{
    background-color: rgb(0, 3, 3);

}
.second{
    border: coral;
    border-color: black;
    border-radius: 23px;
    padding: auto;
    color: black;
    font-family: cursive;
    outline-color: aqua;
    position: absolute;
    left: 9%;
    top: 50%;
    font-display: password;
    
}
.button{
    background-color: bisque;
    color: blue;
    padding: auto;
    margin-left: 40%;
    position: absolute;
    top: 65%;
    border: 0cm;
    border-radius: 20px;
    font-family: cursive;
}
.container{
    height: 250px;
    width: 250px;
    background-color: aqua;
    position:fixed;
    border-radius: 10%;
    top: 25%;
    left: 40%;
}
h1{
    color: blue;
    position: absolute;
    left: 33%;
   
    font-family: cursive;
}